:root {
    --background-color: #171717;
    --foreground-color: #8a8a8a;
    --selected-item-color: #f3f3f3;
    --small-window-radius: 10px;
    /* 不设置为%比 否则显示区域为矩形时圆角会很怪 */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

.header-title-container {
    display: flex;
    /* 使用 Flexbox */
    justify-content: space-between;
    /* 在两端对齐 */
    align-items: center;
    /* 垂直居中对齐 */
    width: 100%;
    /* 使其占满可用宽度 */
    margin: 10px;
}

.header-left {
    flex: 1;
    /* 左右部分占据相同的空间 */
    text-align: left;
    /* 左对齐 */
}

.header-right {
    flex: 1;
    /* 左右部分占据相同的空间 */
    text-align: right;
    /* 左对齐 */
}

.header-center {
    text-align: left;
    /* 中间部分居中 */
    white-space: nowrap;
    /* 防止中间部分换行 */
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.icon {
    width: 30px;
    height: 30px;
}

/* 使用方形按钮 参考app中的按钮 */
.tool-bar-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10%;
    background: transparent;
    color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 30px;
}

.tool-bar-button:hover {
    background-color: var(--foreground-color);
}

#back-button {
    font-weight: bold;
    margin-left: 20px;
    color: var(--selected-item-color);
}

#timestamp {
    background: transparent;
    color: var(--selected-item-color);
}



.video-container {
    position: relative;
    width: 100%;
    /* 容器宽度为 100% 的视口宽度 */
    height: 80%;
    /* 容器高度为 80% 的视口高度 */
    overflow: hidden;
    /* 隐藏溢出的部分 */
}

.video {
    position: absolute;
    object-fit: cover;
    /* 保持视频的宽高比 */
}

.large {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.small {
    width: 15%;
    height: 15%;
    z-index: 2;
    cursor: pointer;
    border-radius: var(--small-window-radius);

}


#video-f {
    top: 2%;
    left: 2%;
}

#video-b {
    top: 2%;
    right: 2%;
}

#video-l {
    bottom: 2%;
    left: 2%;
}

#video-r {
    bottom: 2%;
    right: 2%;
}

/* 半透明灰色窗口 */
.overlay {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
    /* 位于小视频上，但在放大视频下 */
    width: 15%;
    height: 15%;
    pointer-events: none;
    /* 让鼠标穿过 overlay 不影响视频点击 */
    border-radius: var(--small-window-radius);
}

/* 半透明窗口的位置 */
#overlay-f {
    top: 2%;
    left: 2%;
}

#overlay-b {
    top: 2%;
    right: 2%;
}

#overlay-l {
    bottom: 2%;
    left: 2%;
}

#overlay-r {
    bottom: 2%;
    right: 2%;
}

/* 添加文字标签的位置和样式 */
.label {
    position: absolute;
    color: white;
    font-size: 14px;
    z-index: 3;
    /* 确保文字在所有内容上方 */
    padding: 2px 5px;
    /* 显示中文将上下padding调小一点 这样看起来居中些 */
}

/* 标签相对于 video-container 的位置, 根据 overlay 位置和长宽来换算 */
#label-f {
    top: 2%;
    left: 2%;
}

#label-b {
    top: 2%;
    right: 2%;
}

#label-l {
    bottom: 2%;
    left: 2%;
}

#label-r {
    bottom: 2%;
    right: 2%;
}

.bottom-container {
    display: flex;
    /* 使用 Flexbox */
    justify-content: space-between;
    /* 在两端对齐 */
    align-items: center;
    /* 垂直居中对齐 */
    width: 100%;
    /* 使其占满可用宽度 */
    margin: 10px;
}

#play-pause-btn {
    font-weight: bold;
    margin-left: 20px;
    color: var(--selected-item-color);
}

.controls {
    display: flex;
    align-items: center;
}

input[type="range"] {
    width: 300px;
}

#delete-button .icon {
    /* 删除图标设置为红色 */
    filter: brightness(0) saturate(100%) invert(31%) sepia(79%) saturate(7442%) hue-rotate(353deg) brightness(96%) contrast(111%)
}