* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #171717;
    color: #8a8a8a;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    /* 使按钮组在新的一行 */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-title-container {
    display: flex;
    /* 使用 Flexbox */
    justify-content: space-between;
    /* 在两端对齐 */
    align-items: center;
    /* 垂直居中对齐 */
    width: 100%;
    /* 使其占满可用宽度 */
    margin: 10px;
}

h1 {
    font-size: 24px;
}

#select-folder {
    width: 50px;
    /* 根据需要设置宽度 */
    height: 50px;
    /* 根据需要设置高度 */
    border: none;
    /* 去掉边框 */
    border-radius: 50%;
    /* 使按钮圆形 */
    background-color: #8a8a8a;
    /* 按钮背景颜色 */
    color: white;
    /* 图标颜色 */
    display: flex;
    /* 使用 Flexbox 进行居中 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    cursor: pointer;
    /* 鼠标悬停时显示手形 */
    transition: background-color 0.3s;
    /* 增加过渡效果 */
}


.icon {
    width: 30px;
    height: 30px;
    /* filter: invert(1); */
    /* 反转颜色，svg是黑色的，反转为白色 */
}

.header-buttons {
    display: flex;
    /* 使用 Flexbox */
    justify-content: space-around;
    /* 按钮均匀分布 */
    width: 100%;
    /* 使按钮容器占满宽度 */
    margin-top: 10px;
    /* 可选：调整上边距 */
}

.header-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #8a8a8a;
    color: #171717;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.header-buttons button.active {
    background-color: #f3f3f3;
    color: #171717;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25.5px;
    /* 确保时间线与图标中心对齐 */
    width: 1px;
    height: 100%;
    background-color: #8A8A8A;
    z-index: -1;
    /* 让时间线显示在背景 */
}

.date-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.date-header.highlight {
    color: #f3f3f3;
    font-weight: bold;
}

.date-header.highlight .date-icon {
    color: #f3f3f3;
    font-size: 1.2em;
    /* Slightly larger icon */
}

.date-header.highlight .date {
    font-size: 18px;
    color: #f3f3f3;
}

.date-icon {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    /* 让符号显示在时间线之上 */
}

.date {
    cursor: pointer;
    font-size: 16px;
    color: #8A8A8A;
}

.date:hover {
    text-decoration: underline;
}

.date-item {
    padding: 10px 0;
}

.entry {
    padding: 15px 0;
}

.entry-date {
    font-size: 18px;
    margin-bottom: 10px;
}

.video-entry {
    cursor: pointer;
    /* Indicate that this is clickable */
    margin-bottom: 10px;
    /* Space between entries */
    border: 1px solid #ccc;
    /* Optional: styling */
    padding: 10px;
    /* Optional: styling */
}

.video-entry:hover {
    background-color: #f0f0f0;
    /* Optional: hover effect */
}

.time {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
}

.video-thumbnail {
    position: relative;
    margin-bottom: 10px;
}

.video-thumbnail img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
}

.video-duration {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.car-image img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.entry-content {
    display: none;
    padding-left: 20px;
}

.entry-content.active {
    display: block;
}